.page-header {
  padding-bottom: 0;
  margin: 0;
  border-bottom: 0;
}
.page-header .navbar-nav{ float: right;}
.page-header>div>div, .page-header>div>ul {
  display:inline-block;
}
.text-edit{
  padding: 13px 0 0 0;
}
.account {
  text-align:right;
}
.account>div , .account>ul {
  text-align:left;
}
.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top: 0px;
    width:100%;
    background-color: black;
}



footer {
    position:fixed;
    left:0;
    bottom:0;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.carsouselsection{
	margin-top: -20px !important;
}

.form-control {
		color:#FFFFFF;
		background-color:  rgba(255, 255, 255, 0.26);
	}

.form-control>div>div>select {
	
}

.imgres{
	
	max-width: 100%; !important;
	height: auto; !important;
}


@media (max-width: 480px) {
	

	
}

.tablecolor{
	color: #5a5a5a;
}

.panel-primary{
	border-color: #5a5a5a;
}
.panel-primary > .panel-heading{
	border-color: #5a5a5a;
	background-color: #5a5a5a;
}

.table > tbody {
	border-color: #ffffff;
	background-color: #ffffff;
	
}

.table > thead {
		border-color: #5a5a5a;
	background-color: #5a5a5a;
	color:#ffffff;
	
}
.jumbotron{
    padding-left: 60px;
    padding-top: 48px;
    border-bottom-width: 3px;
    padding-bottom: 0px;
	
}

.jumbotron p {
  text-align: center;
  color:#ffffff;
  
}

.container .jumbotron{
	background-color: black;
}

body {

  background-color: #000000;
}

.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th{
	color:black;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
	border-top: 1px solid #B1A3A3;
}

.black{
	color:black;
}
.datetimepicker thead tr:first-child th:hover, .datetimepicker tfoot tr:first-child th:hover{
	background:#5E5353;
}

/* .alert-success{
	background-color:#008cba;
	border-color:#008cba;
} */
.aligncenter{
	text-align:center;
	color:#ffffff;
}

.headercontact{
	color:#008cba;
}

.btn{
	white-space: normal;
}

.blackbg{
	background-color: black;
}

.ashbg{
	background-color: #6f6f6f;
}