body{ margin-top:20px; }

@media (max-width: 480px) {
    table {
        width:95%;
    }
    
     html { background: green; }
 /*    input[type=text], textarea {
        width:75%;
    } */
    .buttongroups{
   /* applied up to 480px */
 	float:left;
    }

.calendarbox{
	width: 30%;

}

 
  	
}

.buttongroups{
	

    border-left-width: 0px;
    margin-left: 17px;
}

.calendarbox{
	width: 556px !important;
}

.btn-lg {
	/* width: 50%; */
	display: block;
    margin: 0 auto;
    text-align: center;
}

/* .buttonwrapper {position: relative;width: 100%;max-width: 980px;margin:10px auto;padding:20px;text-align:center;background-color:rgba(0,0,0,.3);border-radius:10px;}
.buttonwrapper .featurebuttonlink {text-decoration:none;}
.buttonwrapper .buttonlink {text-decoration:none;} */

