body{ margin-top:20px; }


.calendarbox{
	width: 556px !important;
}

@media only screen and (max-width : 320px) {
	.calendarbox{
	width: 220px !important;
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
.calendarbox{
	width: 300px !important;
}

}


/* iPads (portrait and landscape) ---cal-------- */
@media only screen 
and (min-device-width : 980px) 
and (max-device-width : 1199px) {
/* Styles */
.calendarbox{
	width: 300px !important;
}

}

	
}

@media (max-width: 480px) {
    table {
        width:95%;
    }
    
     html { background: #6f6f6f; }
 /*    input[type=text], textarea {
        width:75%;
    } */
    .buttongroups{
   /* applied up to 480px */
 	float:left;
    }

.calendarbox{
	width: 256px !important;
}

 
  	
}

.buttongroups{
	

    border-left-width: 0px;
    margin-left: 17px;
}



.btn-lg {
	/* width: 50%; */
	display: block;
    margin: 0 auto;
    text-align: center;
}

/* .buttonwrapper {position: relative;width: 100%;max-width: 980px;margin:10px auto;padding:20px;text-align:center;background-color:rgba(0,0,0,.3);border-radius:10px;}
.buttonwrapper .featurebuttonlink {text-decoration:none;}
.buttonwrapper .buttonlink {text-decoration:none;} */

