body{ margin-top:20px; }

@media (max-width: 480px) {
    table {
        width:95%;
    }
    
     html { background: green; }
 /*    input[type=text], textarea {
        width:75%;
    } */
    .buttongroups{
   /* applied up to 480px */
 	float:left;
    }

.calendarbox{
	

}
 
  	
}

.buttongroups{
	
 	margin-top: 1px;
    margin-right: 8px;
    padding-right: 30px;
    border-left-width: 1px;
    margin-left: 346px !important;
}

.calendarbox{
	width: 556px !important;
}

