     <!-- FOOTER -->
     <footer class="black blackbg">
        <p class="pull-right "><a scroll-to-top style="font-weight: bold;">Back to top</a></p>
        <p> Nashville Professional Taxi</p>
      </footer>
      </div>
{% for file in assets.js %}
    <script type="text/javascript" src="{{file}}"></script>
{% endfor %}

{% if (process.env.NODE_ENV == 'development') %}
    <!-- Livereload script rendered -->
    <script type="text/javascript" src="{{'http://' + req.host + ':35729/livereload.js'}}"></script>
{% endif %}
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false"></script>
<script type="text/javascript" src="/modules/aggregated.js"></script>



 

