<section data-ng-controller="BookingCtrl">

	<form >


<!-- Form Name -->
<legend>Booking</legend>

		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="name">Pickup Address</label>
					<div>
						<input id="pickup" name="pickup" type="text"
							placeholder="Enter Your Pickup Location" class="form-control" required="">

					</div>
				</div>
			</div>


			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="email">Drop Off Address</label>
					<div>
						<input id="dropoff" name="pickup" type="text"
							placeholder="Enter your Drop Off Location" class="form-control"	required="">

					</div>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="name">Date & Time of Pickup </label>
					 <div>
						<div class="dropdown">
							<a class="dropdown-toggle " id="dropdown2" role="button"
								data-toggle="dropdown" data-target="#" href="#">
								<div class="input-group">
									<input type="text" class="form-control calendarbox"
										data-ng-model="data.dateDropDownInput"><!-- <span
										class="input-group-add-on"><i
										class="glyphicon glyphicon-calendar" ></i></span> -->
								</div>
							</a>
							<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
							<!-- data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"  -->
								<datetimepicker data-ng-model="data.dateDropDownInput" />
							</ul>
						</div>
					</div> 
					
				</div>
			</div>


			<div class="form-group">
			<div class="col-md-6">
				<label class="control-label" for="passengers">No of
					Passengers</label>
				<div>
					<select id="passengers" name="passengers" class="form-control">
						<option>Option one</option>
						<option>Option two</option>
					</select>
				</div>
			</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="form-group">
					<label class="control-label" for="name">Name</label>
					<div>
						<input id="name" name="name" type="text"
							placeholder="Enter Your Name" class="form-control" required="">

					</div>
				</div>
			</div>


			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="email">Email ID</label>
					<div>
						<input id="email" name="email" type="text"
							placeholder="Enter your Email Address" class="form-control"
							required="">

					</div>
				</div>
			</div>
		</div>

	<div class="row">
			<div class="form-group">
				<div class="col-md-6">
					<label class="control-label" for="phonenumber">Phone</label>
					<div>
						<input id="phonenumber" name="phonenumber" type="text"
							placeholder="Enter your Phone Number" class="form-control">
	
					</div>
				</div>
			</div>
	
			<div class="form-group">
		
				<div >
				<div>
					<button id="submit" name="submit" class="btn btn-success buttongroups" data-ng-click="submit(data)">Submit</button>
					<button id="cancel" name="cancel" class="btn btn-inverse">Cancel</button>
				</div>
				</div>
			</div>
		</div>









	</form>

</section>