<div class="container">
<section >
     <br/>
      <br/>
       <br/>
       <table class="table table-striped table-hover ">
  <thead >
    <tr class="fontbold">
       <th><h5>Ride</h5></th>
      <th><h5>Price in $</h5></th>
    </tr>
  </thead>
  <tbody class="fontbold">
    <tr >
      <td class="text-primary">Pickup</td>
      <td class="black">3.00</td>
    </tr>
    <tr >
      <td class="text-primary">Per extra person</td>
	  <td class="black">2.00</td>
    </tr>
    <tr >
      <td class="text-primary">Each additional mile</td>
       <td class="black">2.00</td>
    </tr> 
    <tr >
      <td class="text-primary">Flate rate from airport to downtown zone</td>
      <td class="black">25.00</td>
    </tr>
    <tr >
      <td class="text-primary">Per airport departure</td>
      <td class="black">7.00</td>
    </tr>
  </tbody>
</table> 

<div >
<div class="panel panel-primary ">
  <div class="panel-heading">
    <h3 class="panel-title fontbold">Payment options</h3>
  </div>
  <div class="panel-body">
    <div class="list-group">
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading fontbold">1. Direct Cash</h4>
  </a>
  <a href="#" class="list-group-item">
    <h4 class="list-group-item-heading fontbold">2. We accept all Major Credit & Debit Cards by direct</h4>
    <p ><img class="img-responsive center-block" ng-src="public/system/assets/img/credit/cc.png" alt="Credit Cards accepted"></p>
  </a>
  
</div>
  </div>
</div>
</div>
</section>    
</div>   