<div class="container">
<section >
     <br/>
      <br/>
       <br/>
        

      <div class="row featurette" id="airport">
        <div class="col-md-7">
          <h2 class="featurette-heading">Airport Service <span class="text-muted">,enjoy the Ride to Airport on Time </span></h2>
          <p class="lead">We provide cheap and best deal for Airport rides as a flat rate of 25 $ + 1$/extra person. Remember to Just call <b><a></b> (615) 423-7641 </b></a> or<a ui-sref="new booking" > <b>Online Reservation .</b></a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image  img-responsive img-circle" style="padding-top: 29px;" ng-src="public/system/assets/img/cars/flight-desk.png" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" >

      <div class="row featurette" id="corporate">
        <div class="col-md-5">
          <img class="featurette-image img-circle  img-responsive" ng-src="public/system/assets/img/cars/corporate_hand_sake.png" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Corporate Accounts <span class="text-muted">,Professional Corporate Accounts support in a best deal</span></h2>
          <p class="lead">we provide the best deal & professional service for your employees pickup & drop off to office and sure you will get amaze on our affordable prize rates.</p>
          <p class="lead">we are providing the excellent service for the top most Software companies in Nashville and in a best rate .Just Call to <a></b> (615) 423-7641 </b></a></p>
        </div>
      </div>


      <hr class="featurette-divider">
      
       <div class="row featurette" id="bp">
        <div class="col-md-7">
          <h2 class="featurette-heading">Bachelor Party <span class="text-muted">, having fun</span></h2>
          <p class="lead"> A van is the perfect option for a mid-size group to bid farewell to the bachelor party.</p>
          <p class="lead">You are here on vacation so let us do the driving for you! If you need a taxi in Nashville we can get you to all your favorite hot spots.Just call <b><a></b> (615) 423-7641 </b></a> or<a ui-sref="new booking" > <b>Online Reservation .</b></a></p>
          <p class="lead">Nashville Professional Taxi offers services for bar hopping and tours around Nashville.  If you are not sure of what you would like to see, Ask us and we will be glad to customize a tour for you.</p> 

	      <p class="lead">You and your friends / guests also have an option to explore Nashville at your own pace. You give us a list of the sights you wish to see. We will map out the best route to minimize your time getting from one location to the next. Make your night on the town pleasurable and affordable with our Van Services.</p>

		  <p class="lead">Our services include airport transfers, business and long distance trips, weddings, proms, sightseeing, Bachelorette Parties and Nights-on-town. We serve the entire Tennesse Nashville & surrounding areas.</p> 

		    <p class="lead">You get the maximum benefit for your sightseeing budget.Just call <b><a></b> (615) 423-7641 </b></a> or<a ui-sref="new booking" > <b>Online Reservation .</b></a></p>
          <!-- <p>If you wanna celebrate your party times, with your friends travel in black limos you may be surprised how affordable we are.</p> -->
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-circle img-responsive" ng-src="public/system/assets/img/cars/bachelor-party-.png" alt="Generic placeholder image"> 
        </div>
      </div>
      
      
      <hr class="featurette-divider">

      <div class="row featurette" id="package">
        
        <div class="col-md-7">
          <img class="featurette-image img-circle  img-responsive" ng-src="public/system/assets/img/cars/PACKAGE_DELIVER.png" alt="Generic placeholder image"> 
        </div>
        <div class="col-md-5">
          <h2 class="featurette-heading">Package Deliver <span class="text-muted">, Instant Delivery</span></h2>
          <p class="lead">We deliver your packages safely & securely to your destination instantly .Just call <b><a></b> (615) 423-7641 </b></a></p>
        </div>
      </div>
      
       <hr class="featurette-divider">
      
       <div class="row featurette" id="servicearea">
        <div class="col-md-12">
          <h2 class="featurette-heading">Service Area <span class="text-muted">, Instant Delivery</span></h2>
          <p class="lead">Our Service Areas Nashville & Surrounding Cities</p>
          <p>
          <div class="row">
          <div class="col-md-6">
          <ul>
          	<li>Franklin</li>
          	<li>Brentwood</li>
          	<li>bellemeade</li>
          	<li>Belleview</li>
          	<li>La verge</li>
          	<li>Goodlettsville</li>
          	<li>Hendersonville</li>
          	<li>Murfreesboro</li>
          	<li>Smyrna</li>
          	<li>Knoxville</li>
          	<li>Chattanooga</li>
          	<li>CookVille</li>  
          	<li>And many More....</li>  	   	   	
          </ul>
          </div>
          <div class="col-md-6">
          <p class="lead">Must-see Sites in Nashville</p>
          <ul>
          	<li>General Jackson Showboat</li>
          	<li>Grandole OPRY</li>
          	<li>Cheekwood Botanical Garden</li>
          	<li>Nashville Zoo</li>
          	<li>Bluebird Cafe</li>
          	<li>Opryland Hotel Gardens</li>
          	<li>The Hermitage, Home of president Andrew Jackson</li>
          	<li>Belle Meade Plantation</li>
          	<li>And Many More....</li>   	   	   	
          </ul>
          </div>
          </div>
			Vanderbilt, Belmont,Lipscomb University,Trevecca Nazarene University, TSU, UT students $20.00 one way.
			Please call for more information and group rate.<br/>
			*The fare is based on actual mileage
</p>
        </div>
   <!--      <div class="col-md-5">
          <img class="featurette-image img-circle img-responsive" ng-src="public/system/assets/img/cars/bachelor-party-.png" alt="Generic placeholder image">
        </div> -->
      </div>
       
</section>
</div>