<div class="container">
<section >
     <br/>
      <br/>
       <br/>
        

      <div class="row featurette" id="airport">
        <div class="col-md-7">
          <h2 class="featurette-heading">Airport Service <span class="text-muted">,enjoy the Airport Ride </span></h2>
          <p class="lead">We provide cheap and best deal for Airport rides as a flat of 25 $. Remember to Just dial xxx-xxxx-xxx or Online Reservation .</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="http://placehold.it/500x500/auto" alt="Generic placeholder image">
        </div>
      </div>

      <hr class="featurette-divider" >

      <div class="row featurette" id="corporate">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="http://placehold.it/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Corporate Accounts <span class="text-muted">,Professional Corporate Accounts support in a best deal</span></h2>
          <p class="lead">Book your taxi in a sec by calling XXX-XXXX-XXXX or register online from any device like Iphone,Tablet,Ipad,Desktop etc., and get your booking confirmation instantly</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette" id="package">
        <div class="col-md-7">
          <h2 class="featurette-heading">Package Deliver <span class="text-muted">, Instant Delivery</span></h2>
          <p class="lead">We deliver your packages safely & securely to your destination instantly</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="http://placehold.it/500x500/auto" alt="Generic placeholder image"> 
        </div>
      </div>

      <hr class="featurette-divider">
      
       <div class="row featurette" id="bp">
        <div class="col-md-7">
          <h2 class="featurette-heading">Bachelor Party <span class="text-muted">, Instant Delivery</span></h2>
          <p class="lead">We deliver your packages safely & securely to your destination instantly</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" ng-src="http://placehold.it/500x500/auto" alt="Generic placeholder image"> 
        </div>
      </div>
       
</section>
</div>